{% extends "::frontend.html.twig" %}
{% block content %}    
<article>
    <header>
        <h2>Resumen no relacionados</h2>
    </header>

    <ul>
            {% for u in unrelated %}
            <ol>{{ u.un.post }}{{  u.n }} notificaciones</ol>
    {% else %}
            <ol>No hay elementos</ol>
    {% endfor %}
        </ul>
    </article>
{% endblock %}