{% extends "::frontend.html.twig" %}
{% block content %}    
<article >
    <header>
        <h2>Informe de estado</h2>
    </header>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Elementos</th>
                <th>Tiempo</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            {% for item in results%}
                <tr>
                    <td>{{ item.name }}</td>
                    <td><img src="/bundles/planet/img/{% if item.status %}ok{% else %}problem{% endif %}.png" /></td>
                    <td>{{ item.items }}</td>
                    <td>{{ item.time | number_format(3, ',', '.') }} s.</td>
                    <td>{{ item.error | truncate(260) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}